
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    padding: 0;
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
}

.header-float{
    width: 100%;
    height: 15%;

}

.header-left-float{
    width: 30%;
    float: left;
}

.header-right-float{
    width: 70%;
    float: right;
}

.header-left-float img{
    width: 150px;
    margin-left: 50px;
    cursor: pointer;
}

.header-right-float li{
    display: inline;
    list-style-type: none;
    margin-left: 20px;
    cursor: pointer;
}

.header-right-float img{
    width: 40px;
    margin-top: 30px;
}

.header-right-float ul{
    margin-left: 60%;
}

nav ul{
    background-color: #808B96;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}

nav ul li{
    display: inline;
    background-color: #808B96;
    font-size: 25px;
    margin: 10px;
    
}

nav a{
    text-decoration: none;
    color: #ECF0F1;
}

.h1-heading{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    color: #0e6890;
}
/* 
footer{
    background-color: coral;
    height: 100px;
}

footer ul{
    text-align: center;
}

footer li{
    font-size: 20px;
    list-style-type: none;
    display: inline;   
}

footer a{
    color: #000000;
    text-decoration: none;
} */

.images-row{
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.images-row img{
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 85px;
    
}

.images-row h3{
    margin-left: 85px;
}

.images-column{
    flex: 33.33%;
}

.images-row a{
    text-decoration: none;
    color: black;
}

/* .footer-container{
    position: relative;
  text-align: center;
  color: white;
}

.footer-container img{
    width: 100%;
    height: 200px;
}

.footer-h1{
    position: absolute;
    top: 8px;
    left: 16px
}

.footer-h1 li{
    display: inline;
}

.footer-h1 ul{
  margin-left: 430px;
}

.footer-h1 a{
    text-decoration: none;
    color: #eeeeee;
    font-size: 24px;
    margin-right: 20px;
    
}

.footer-social img{
    width: 100px;
} */

footer{
    background-color: #15304E;
    height: 180px;
    width: 100%;
}

.footer-menu li{
    display: inline-block;
    margin-top: 20px;
}


.footer-menu a{
    color: #eeeeee;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
}

.footer-menu ul{
    text-align: center;
}

.footer-social img{
    width: 40px;
    padding: 15px;
}

.footer-social li{
    display: inline-block;
}

.footer-social ul{
    text-align: center;
}

.copyright-text{
    color: #eeeeee;
    text-align: center;
}


.about-flex{
    display: flex;
}

.about-flex img{
    width: 500px;
    margin-right: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 13px #ccc;
}

.about-flex p{
    text-align: justify;
    line-height: 25px;
}

.about-flex h1,h4,p{
    margin-left: 30px;
    padding-right: 30px;
}

.about-flex .margin-img{
    margin-left: 30px;
    box-shadow: 10px 10px 13px #ccc;
}

.for-space{
    margin-top: 60px;
}

.for-space1{
    margin-top: 150px;
    margin-bottom: 100px;
}


.images-column h3{
    margin-bottom: 100px;
    margin-left: 117px;
}

.our-products{
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}


.pp{
    margin-left: 40px;
}

.product-float{
    display: flex;
}

.product-detail img{
    width: 35%;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 85px;
}

.product-right{
    margin-left: -400px;
}

.product-detail-line-height{
    line-height: 30px;
    text-align: justify;
}

.product-detail{
    margin-bottom: 50px;
}


.contact-form li{
    list-style-type: none;
    line-height: 40px;
}

.contact-h1{
    margin-left: 30px;
    margin-bottom: 50px;
}

.contact-form input{
    padding: 5px;
}

.contact-form label{
    font-size: 20px;
}

.hero-image img{
    width: 100%;
    height: 80%;
    margin-top: -17px;
    margin-bottom: 20px;
}

.contact-parent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.right-flex{
    margin-right: 200px;
}

.contact-map iframe{
    border-radius: 10px;
}

.pink-parent{
    width: 100%;
    margin-bottom: 150px;
}

.pink-left{
    background-color: #F2E7E9;
    float: left;
    width: 50%;
    height: 520px;   
}

.upper, .lower{
    padding: 100px;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 60px;
    line-height: 25px;
}


.pink-left h1{
    margin-left: 28px;
    text-align: justify;
}

.pink-left p{
    margin-left: 28px;
    text-align: justify;
}

.pink-right{
    background-color: #EED1D2;
    height: 520px;
}


.pink-right p{
    text-align: justify;
    margin-left: 700px;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 25px;
    /* margin-left: 300px; */
    /* padding-left: 50px;
    padding-right: 50px; */
    /* padding-right: 150px; */

}

.pink-right h1{
    padding-top: 145px;
    margin-left: 778px;
}
